    <div ng-controller="loginController">
        <section id="content">
           
                <br />
                <br />
                <input class="textBox" type="text" placeholder="User name" ng-model="userName" />
                <br />
                <input class="textBox" type="password" placeholder="Password" ng-model="password" />
                <br />
                <br />
                <br />
                <input class="btnStyle" type="button" value="Log in" ng-click="submitLogin()" />
                <br />
                <span class="hlpStyle">Need help?</span>
          
        </section>
    </div>
