<div ng-controller="signupController">
    <section id="content">
        <form action="">
            <br />
            <input class="textBox" type="text" placeholder="First name*" ng-model="FirstName" />
            <br />
            <input class="textBox" type="text" placeholder="Last name*" ng-model="LastName" />
            <br />
            <input class="textBox" type="text" placeholder="Email*" ng-model="Email" />
            <br />
            <input class="textBox" type="text" placeholder="User name*" ng-model="username" />
            <br />
            <input class="textBox" type="password" placeholder="Password*" ng-model="Password" />
            <br />
            <input class="textBox" type="password" placeholder="Re-enter Password*" />
            <br />
            <input class="btnStyle" type="button" value="Create an accutnt" ng-click="submitSignupForm()" />
        </form>
    </section>
</div>
